html{
    font-family: "Montserrat" , sans-serif;
    background-color: #fffdff;
    line-height: 1.6;
}
.header{
    background-color: #00002e;
    color: #fffdff;
}
.navul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 25px;
}
.navlink{
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-decoration: none;
    color: #fffdff;
    
}
body{
    margin: 0;
}
.antwoord{
    color: red;
}
.container{
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}