html{
    font-family: "Montserrat" , sans-serif;
    background-color: #fffdff;
    line-height: 1.6;
}
.header{
    background-color: #00002e;
    color: #fffdff;
}

.navlink{
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-decoration: none;
    color: #fffdff;
    
}
body{
    margin: 0;
}
.antwoord{
    color: red;
}
.container{
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 25px;
}

/* OEFENING 1 COLUMS */

.row{
    display: flex;
    align-items:center;
    align-content: center;
    gap: 2rem;
}
.rowitem{
    border-color: #00002e;
    border-width: 2px;
    border-style: dashed;
    gap: 2rem;
    width: 50%;
    padding: 1rem;
}

/* OEFENING 2 NAV */

.flex{
    display: flex;
    width: 100%;
    align-items:center;
    align-content: center;
}
.flex div:first-child{
    width: 50%;
}
.flex ul{
    align-items: flex-end;
    justify-content: flex-end;
    gap: 0rem;
}
.flex a{
    background-color: rgb(145, 0, 0);
    text-decoration: none;
    color: white;
    padding: 1rem;
}
.flex a:hover{
    background-color: white;
    color: rgb(145, 0, 0);
}
.flex a:focus-visible{
    background-color: white;
    color: rgb(145, 0, 0);
}
.flex nav{
    width: 50%;
}

/* OEFENING 3 CARDS */

.cards{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    margin-left: -2.5rem;
}
.cards li{
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-box-shadow: 9px 10px 21px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 21px -13px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 21px -13px rgba(0,0,0,0.75);
}

.cards img{
    width: 100%;
}
.cards li img{
    order: -1;
}
.cards li .content{
    padding-left: 1rem;
    padding-bottom: 1rem;

}
.cards .overlay-link{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.cards li>a:not(.overlay-link){
    z-index: 1;
}
